name: Deploy to HF Spaces

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Add Hugging Face Space as a remote
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git remote remove hf-space || true
          git remote add hf-space https://hf:${HF_TOKEN}@huggingface.co/spaces/pcabeco/hf_image_rec

      - name: Push to HF Space (force HEAD -> main)
        run: |
          git push --force hf-space HEAD:main